<section class="card">
    <div class="card-body">
        <h1>Sobre mi</h1>
        <p>Hola soy el desarrollador de esta aplicacion, este fue un pequeño proyecto que hice aprendiendo estas tecnologias. Espero lo disfrutes!</p>
    </div>
</section>