<div class="jumbotron mt4">
   <h1 class="display-4"> App notas Nodejs y Mongodb</h1>
   <p class="lead">Esta es una pequeña aplicacion con la que podras crear, leer, actualizar y borrar tus notas. Ademas cuenta con un login y registro de usuarios! </p>
   <hr class="my-4">
   <p>Esta aplicacion fue creada con nodejs y mongodb. Haciendo uso de express y handlebars. Aqui abajo encontraras el codigo del proyecto.</p>
   <a href="https://github.com/Benjhi/App-notas" class="btn btn-primary">Github</a>
</div>