<div class="jumbotron mt4">
   <h1 class="display-4"> App notas Nodejs y Mongodb</h1>
   <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores saepe suscipit exercitationem aspernatur veniam architecto?</p>
   <hr class="my-4">
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quod repellendus provident! Ullam, autem optio aliquid corrupti accusamus placeat quae?</p>
   <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>